extends ../layout

block content
  .opt-login-wrapper
    .container
      if errors.length
        .alert.alert-danger.animated.fadeIn.opt-alert
          for error in errors
            div= error.msg
      .opt-login
        .row.mt
          form.form-horizontal(method='POST')
            legend.centered Login
            .form-group
              label.col-sm-offset-1.col-sm-3.control-label(for='email') Email
              .col-sm-5
                input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
            .form-group
              label.col-sm-offset-1.col-sm-3.control-label(for='username') Password
              .col-sm-5
                input.form-control(type='password', name='password', id='password', placeholder='Password')
            .form-group
              .col-sm-offset-4.col-sm-5
                span
                  button.btn.btn-primary(type='submit')
                    i.fa.fa-unlock-alt
                    | Login
                span.signup-prompt
                  | Need an account? 
                  a(href="/signup") Sign up here


