extends ../layout

block content
	.container
		if success.length
			.alert.alert-success.animated.fadeInUp.opt-alert
				button.close(data-dismiss='alert') ×
				i.fa.fa-check
				= success
		if error.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') ×
				= error
		if errors && errors.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				for err in errors
					div= err.msg
		if picErrors && picErrors.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				for err in picErrors
					div= err.msg
		if signUp.length
			.alert.alert-info.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Please fill out your profile before applying to jobs."
		if first && first.length
			.alert.alert-info.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Thanks for signing up, please fill out your profile before applying to jobs!"
		.row.mt
			.profile-wrap
				.col-md-2.fixed-left
					ul.nav.nav-tabs.tabs-left
						li.homelink.active
							a(href='#home', data-toggle='tab') Profile
						li.jobs
							a(href='#applications', data-toggle='tab') My Applications
						li.acctlink
							a(href='#settings', data-toggle='tab') Account Settings
				.col-md-10.relative-right
					.tab-content
						#home.tab-pane.active
							include partials/profile_mom_home.jade												
						#edit.tab-pane
							include partials/profile_mom_edit.jade
						#applications.tab-pane
							include partials/profile_mom_applications.jade
						#settings.tab-pane 
							.opt-login-wrapper
								.page-header
									h3 Change Password

								form.form-horizontal(action='/account/password', method='POST')
									.form-group
										label.col-md-3.control-label(for='password') New Password
										.col-md-4
											input.form-control(type='password', name='password', id='password')
									.form-group
										label.col-md-3.control-label(for='confirmPassword') Confirm Password
										.col-md-4
											input.form-control(type='password', name='confirmPassword', id='confirmPassword')
									.form-group
										.col-md-offset-3.col-md-4
											button.btn.btn.btn-primary(type='submit') Change Password
						//- .page-header
						//- 	h3 Deactivate Account

						//- p You can deactivate your account.
						//- form(action='/account/deactivate', method='POST')
						//- 	button.btn.btn-danger(type='submit') Deactivate my account