extends ../layout

block content
	.container
		if error.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') ×
				= error
		if errors && errors.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				for err in errors
					div= err.msg
		if success.length
			.alert.alert-success.animated.fadeInUp.opt-alert
				button.close(data-dismiss='alert') ×
				i.fa.fa-check
				= success
		if companyError && companyError.length
			.alert.alert-danger.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Fill out company information before posting jobs" 
		if signUp.length
			.alert.alert-info.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Sorry, businesses cannot apply to jobs at this time!"
		if first && first.length
			.alert.alert-info.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Fill out your profile."
		if projectUpdated && projectUpdated.length
			.alert.alert-info.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Your project has been successfully updated."
		if projectDeleted && projectDeleted.length
			.alert.alert-info.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "Your project has been successfully removed."		
		if deleteError && deleteError.length
			.alert.alert-info.animated.fadeIn.opt-alert
				button.close(data-dismiss='alert') x
				= "There was an error with your project removal request."
	.big-wrapper
		.sidebar-wrapper
			.row.mt
				.profile-wrap
					.col-md-12
						ul.nav.nav-tabs.tabs-left
							li.sidenav.active
								a(href='#home', data-toggle='tab') Profile
							li.sidenav
								a(href='#mylistings', data-toggle='tab') My Listings
							li.sidenav.messages
								a(href='#inbox', data-toggle='tab') My Messages
							li.sidenav
								a(href='#settings', data-toggle='tab') Account Settings
		.page-content-wrapper
			.col-md-12
				.profile-wrap
					.tab-content
						#home.tab-pane.active
							include partials/profile_employer_home.jade
						#mylistings.tab-pane
							include partials/profile_employer_listings.jade
						#inbox.tab-pane
							include partials/profile_employer_inbox.jade												
						#settings.tab-pane 
							.opt-login-wrapper
								.page-header
									h3 Change Password

								form.form-horizontal(action='/account/password', method='POST')
									.form-group
										label.col-md-3.control-label(for='password') New Password
										.col-md-4
											input.form-control(type='password', name='password', id='password')
									.form-group
										label.col-md-3.control-label(for='confirmPassword') Confirm Password
										.col-md-4
											input.form-control(type='password', name='confirmPassword', id='confirmPassword')
									.form-group
										.col-md-offset-3.col-md-4
											button.btn.btn.btn-primary(type='submit') Change Password
						//- #messages.tab-pane Messages Tab.
						//- #settings.tab-pane Settings Tab.
						//- .page-header
						//- 	h3 Deactivate Account

						//- p You can deactivate your account.
						//- form(action='/account/deactivate', method='POST')
						//- 	button.btn.btn-danger(type='submit') Deactivate my account