extends layout

block content
	.jumbotron
		.about-us
			img.about-us-img(src='/images/aboutus.jpg', width='100%')
			h3 
				b We Want Women To Opt Back Into the Workforce
			p
				| We're a company dedicated to matching the skills women have with the companies that need them. Forty three percent of women drop out of the workforce at some point in their life, yet they have the skills, experience, and knowledge that can still make them competitive. Opt In Revolution is for women with MBAs, Law Degrees, or equivalent education and with more than five years worth of work experience to find temporary and flexible freelance work. We want the opt out generation to come back in.
			p
				| For companies, Opt In Revolution provides a focused, niche group of employees with experience and skillsets eager for work. Small and medium sized businesses that can't afford to hire consulting firms or marketing agencies can find the same-level of talent at Opt In Revolution. Furthermore, the new talent brings new insights and experiences to the business, helping them learn, expand and grow.

			br

			h3
				b The Team
			br
			p 
				b Elizabeth Baumann
				|  hails from Connecticut and is an MBA candidate at Northwestern's Kellogg School of Management concentrating in Marketing and Innovation & Entrepreneurship. She attended Emory University for undergrad majoring in Mathematics and Economics. After graduation Elizabeth worked in finance for JPMorgan and Blackrock. She is headed to Los Angeles after graduation this June to work in marketing for Mattel. Elizabeth is a board member for Benevolent, a non-profit organization in Chicago that helps people through challenging times.
			p
				b Russell Jones
				| , an Arizona native, is an MBA candidate at Northwestern's Kellogg School of Management, concentrating in Finance and Innovation & Entrepreneurship. He attended Cornell University for undergrad majoring in Government. After graduation he worked for consulting and finance firms Dean & Company, Nodal Exchange and Oliver Wyman. Russell is involved in the Northwestern community, sitting on the board of the Kellogg Charity Auction Ball planning committee.
			p
				b Allen Zeng
				|  hails from New York and is a senior at Northwestern majoring in Computer Science. Last summer he interned at PriceWaterHouseCooper and has already accepted a job with Amazon upon graduation. Allen is a student fellow at Northwestern's Knight Lab where journalists and developers work together to produce innovative and explorative news media.
			p
				b Alexis Prousis
				|  a Lake Forest, IL native, is a Masters candidate at Northwestern's Medill School of Journalism concentrating in Business Reporting and Magazine. She attended Northwestern for undergrad where she majored in Communication Studies and was a member of the Women's Varsity Tennis Team. After graduating, Alexis played professional tennis and later worked in commercial real estate. She is an executive board member of the N Club, Northwestern's national alumni club for varsity letter winners.
			p
				b Scott Thomas
				|  is getting his Master's degree in Journalism at Medill. He went to undergrad at Texas State University where he majored in journalism and was editor in Chief of the campus paper. After graduating, he covered business and startups for AustinPost.org and worked in data analytics for WCG.







