extends layout

block content
	.container
		.about-us
			.opt-about-header
				h3 
					b We Want Women To Opt Back Into the Workforce
				p
					| We're a company dedicated to matching the skills women have with the companies that need them. Forty three percent of women drop out of the workforce at some point in their life, yet they have the skills, experience, and knowledge that can still make them competitive.

			.opt-table-about-us
				table.table
					thead
						tr
							th For Mothers
							th For Businesses
						tbody
							tr
								td 
									ul
										li point 1
										li point 2
								td 
									ul
										li point 1
										li point 2
			







