extends layout

block content
	.tile#top
		.container
			.row.mt.centered
				.opt-team-header
					h1 About #{view}
					blockquote
						| We're a company dedicated to matching the skills women have with the companies that need them. Forty three percent of women drop out of the workforce at some point in their life, yet they have the skills, experience, and knowledge that can still make them competitive.
	.tile#employ
		.container
			.row.mt.centered
				.col-lg-12
					h1 EMPLOY
	.tile#empower
		.container
			.row.mt.centered
				.col-lg-12
					h1 EMPOWER
	.tile#engage
		.container
			.row.mt.centered
				.col-lg-12
					h1 ENGAGE
					