extends layout

block content
	.tile-60
		.opt-about-header-section
			.container
				.row.mt.centered.opt-about-header-content
					.col-md-6.opt-about-desc
						iframe(src='//player.vimeo.com/video/92294554', width='95%', height='300px', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')
					.col-md-6.opt-about-desc
						blockquote.special
							h2 Why Work for an AthenaBusiness?
							ul
								li Gain access to highly qualified jobs from small to medium-sized businesses
								li Keep your skills and work experience up-to-date with challenging and fulfilling project-based work
								li Ease the job search process by quickly connecting with businesses and projects that offer flexible work schedules
						a.btn.btn-primary.opt-btn-about-top(href='/signup') Sign Up Today
	.tile-75
		.container
			.row.centered.value-prop-moms
				.row
					.col-md-12
						blockquote
							p
								| Forty-three percent of women drop out of the workforce at some point in their life, yet they have the skills, experience, and knowledge that can still make them competitive.
							small
								b
									| Sheryl Sandberg,
									cite(title='Source Title')  Lean In						
				.row
					.pillar
						h2 How It Works
				.row.about-icon-content
					.col-md-4
						img(src='../images/about-icons/sign_up.png', height="90px")
						.about-icon-desc
							p.step Sign up to become an AthenaMom, search our database of awesome projects and apply to those that interest you
					.col-md-4
						img(src='../images/about-icons/empty_list.png', height="90px")
						.about-icon-desc
							p.step When selected, work with the business to agree on check-ins and deadlines that work for both of you
					.col-md-4
						img(src='../images/about-icons/project.png', height="90px")
						.about-icon-desc
							p.step Complete the project, earning the sense of fulfillment that comes from being back at work, building and sharpening skills and receiving compensation
			.row.centered
				.col-md-12
					a.btn.btn-primary.opt-btn-about(href='/signup') Sign Up Today
			br
			br
			br
			br
			br
