extends layout

block content
	.opt-about-header-section
		.container
			.row.mt.centered.opt-about-header-content
				.col-md-6.opt-about-desc
					img(src='images/athenamom_business.jpg', width='95%', height='300px')
				.col-md-6.opt-about-desc
					blockquote.special
						p
							| BUSINESS
						br
						br
						br
						br
						a.btn.btn-primary.opt-btn-about-top(href='/signup') Sign Up Today
				//- .col-md-6.opt-quote
					blockquote
						p
							| Forty-three percent of women drop out of the workforce at some point in their life, yet they have the skills, experience, and knowledge that can still make them competitive.
						small
							b
								| Sheryl Sandberg,
								cite(title='Source Title')  Lean In
			#opt-how-it-works
				.row.centered.value-prop-business
					.pillar
						h2 How We Help Businesses
					.row.about-icon-content
						.col-md-4
							img(src='../images/about-icons/sign_up.png', height="90px")
							.about-icon-desc
								p.step Sign up, post your project-based talent needs, and receive applications from our network of AthenaMoms
						.col-md-4
							img(src='../images/about-icons/athenamom2.png', height="90px")
							.about-icon-desc
								p.step Select the AthenaMom that’s right for your project(s), agree on check-ins and deadlines that work for both of you
						.col-md-4
							img(src='../images/about-icons/checked_list.png', height="90px")
							.about-icon-desc
								p.step Review interim and final deliverables, and pat yourself on the back for helping your business tackle a challenge with affordable, top-tier talent
				.row.centered
					.col-md-12
						a.btn.btn-primary.opt-btn-about(href='/signup') Sign Up Today
			br
			br
			br
			br
			br
