extends layout

block content
	.tile-100
		.opt-about-header-section
			.container
				.row.mt.centered.opt-about-header-content
					.col-md-6.opt-about-desc
						//- iframe(src='//player.vimeo.com/video/92294554', width='95%', height='300px', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')
						img(src='images/athenamom_business.jpg', width='95%', height='300px')
					.col-md-6.opt-about-desc
						blockquote.special
							p
								| BUSINESS
							br
							br
							br
							br
							a.btn.btn-primary.opt-btn-about-top(href='/signup') Sign Up Today
				#opt-how-it-works
					.row
						.col-md-6.opt-quote.why-quote-business
							blockquote
									p
										| 60% of SMBs say that the "biggest challenge they face in hiring or managing staff is simply finding skilled workers to do the job.
									small
										b
											| Business Study (source?)
											cite(title='Source Title')  Publication
						.col-md-6.why-content
							h2 Why Hire an AthenaMom?
							ul
								li Gain access to highly qualified talent from top-tier universities and professional backgrounds
								li Satisfy business needs by having AthenaMoms complete project based or part-time work 
								li Ease the hiring process by quickly connecting to AthenaMoms and staffing projects at competitive rates 
	.tile-75
		.container
			.centered
				.pillar
					h2 How It Works
				.row.about-icon-content
					.col-md-4
						img(src='../images/about-icons/sign_up.png', height="90px")
						.about-icon-desc
							p.step Sign up, post your project-based talent needs, and receive applications from our network of AthenaMoms
					.col-md-4
						img(src='../images/about-icons/athenamom2.png', height="90px")
						.about-icon-desc
							p.step Select the AthenaMom that’s right for your project(s), agree on check-ins and deadlines that work for both of you
					.col-md-4
						img(src='../images/about-icons/checked_list.png', height="90px")
						.about-icon-desc
							p.step Review interim and final deliverables, and pat yourself on the back for helping your business tackle a challenge with affordable, top-tier talent
				.row.centered
					.col-md-12
						a.btn.btn-primary.opt-btn-about(href='/signup') Sign Up Today
			br
			br
			br
			br
			br
