extends layout

block content
	.opt-about-header-section
		.container
			.row.mt.centered
				.col-md-6
					h1
						//- | About Us
				.col-md-6
					h1 
						.btn-group.menu-right
							button.btn.btn-default
								| I am a: 
							button.btn.btn-default.dropdown-toggle.opt-about-btn-type(type='button', data-toggle='dropdown')
								if view == 'mom'
									| Mother
								else if view == 'biz'
									| Business
								else
									| Click to choose
								span.caret.d-text
							ul.dropdown-menu.pull-right(role='menu')
								li
									a(href='/about?view=mom') Mother
								li
									a(href='/about?view=biz') Business
			.row.mt.centered.opt-about-header-content
				.col-md-6.opt-about-desc
					p
						| Opt-In Revolution is dedicated to finding viable work solutions for mothers and companies by providing a dynamic online marketplace, extensive resources and meaningful networks. 
				.col-md-6.opt-quote
					blockquote
						p
							| Forty-three percent of women drop out of the workforce at some point in their life, yet they have the skills, experience, and knowledge that can still make them competitive.
						small
							b
								| Sheryl Sandberg,
								cite(title='Source Title')  Lean In
	.container
		#opt-about-pillars
			.row.mt.centered
				.col-md-4
					.pillar#employ
						a.pillar-link(href='employ')
							h4 Employ
							img.img-circle.pagination-centered(src='/images/employ.jpg', height='160', width='175', alt='')
							if view == 'biz'
								p.opt-pillar-desc
									| Explore a dynamic marketplace to find highly qualified talent
							else
								p.opt-pillar-desc
									| Explore a dynamic marketplace to find flexible, project based work
				.col-md-4
					.pillar#empower
						a.pillar-link(href='empower')
							h4 Empower
							img.img-circle.pagination-centered(src='/images/empower.jpg', height='160',width='175', alt='')
							if view == 'biz'
								p.opt-pillar-desc
									| Find the necessary resources and tools to enhance your hiring skills
							else
								p.opt-pillar-desc
									| Find the necessary resources and tools to enhance your career
				.col-md-4
					.pillar#engage
						a.pillar-link(href='engage')
							h4 Engage
							img.img-circle.pagination-centered(src='/images/engage.jpg', height='160',width='175', alt='')
							if view == 'biz'
								p.opt-pillar-desc
									| Connect with fellow employers to expand your professional and personal networks
							else
								p.opt-pillar-desc
									| Connect with other Moms to expand your professional and personal networks
		br
		br
		br
		br
		br
