extends layout

block content
	.container
		.row.mt.centered
			.opt-team-header
				h1 We Want Women To Opt Back Into the Workforce
				p
					| "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..." "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."

		.row.mt.centered
			.col-lg-6
				h4 For Mothers
				p
					|  "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. omnis voluptas assumenda est, omnis dolor repellendus."
				ul
					li
						| point 1
					li
						| point 2


			.col-lg-6
				h4 For Businesses
				p
					| "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful."
				ul
					li
						| point 1
					li
						| point 2






