extends layout

block content
	.tile-60
		.opt-about-header-section
			.container
				.row.mt.centered.opt-about-header-content
					.col-md-6.opt-about-desc
						//- iframe(src='//player.vimeo.com/video/92294554', width='95%', height='300px', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')
						img(src='images/athenamom_business.jpg', width='95%', height='300px')
					.col-md-6.opt-about-desc
						blockquote.special
							h2 Why Hire an AthenaMom?
							ul
								li Gain access to highly qualified talent from top-tier universities and professional backgrounds
								li Satisfy business needs by having AthenaMoms complete project based or part-time work 
								li Ease the hiring process by quickly connecting to AthenaMoms and staffing projects at competitive rates 
						a.btn.btn-primary.opt-btn-about-top(href='/signup') Sign Up Today
	.tile-75
		.container
			.row.centered
				.col-md-12
					.athenahire-blockquote
						blockquote
							p
								| 60% of SMBs say that the biggest challenge they face in hiring or managing staff is simply finding skilled workers to do the job.
							small
								b
									| Business Study
									cite(title='Source Title')  Publication
			.row
				.col-md-8.how-it-works-column
					.row
						.pillar
							h2 How It Works
					.row.about-icon-content
						.row.about-step
							.col-md-2.centered
								img(src='../images/about-icons/sign_up.png', height="80px")
							.col-md-9
								.about-icon-desc
									p.step Sign up, post your project-based talent needs, and receive applications from our network of AthenaMoms
						.row.about-step
							.col-md-2.centered
								img(src='../images/about-icons/athenamom2.png', height="80px")
							.col-md-9
								.about-icon-desc
									p.step Select the AthenaMom that’s right for your project(s), agree on check-ins and deadlines that work for both of you
						.row.about-step
							.col-md-2.centered
								img(src='../images/about-icons/checked_list.png', height="80px")
							.col-md-9
								.about-icon-desc
									p.step Review interim and final deliverables, and pat yourself on the back for helping your business tackle a challenge with affordable, top-tier talent
				.col-md-3
					.row.athenamom-projects
						.athenamom-project-heading
							img(src='../images/about-icons/notebook.png', height="80px")
							h3 What Our AthenaMoms Can Help With
						.athenamom-experiences
							p 
								| Marketing and Advertising
								br 
								| Public Relations
								br 
								| Growth strategy
								br 
								| Competitor benchmarking
								br 
								| Operational improvement
								br 
								| Accounting / Budgeting
								br 
								| Legal work
			.row.centered
				.col-md-12
					a.btn.btn-primary.opt-btn-about(href='/signup') Sign Up Today
			br
			br
			br
			br
			br
