extends layout

block content
	.tile#top
		.tile-half
			.container
				.row.mt.centered
					.col-lg-12
						.opt-about-header
							big
								h1 About #{view}
							p
								big
									| Opt-In Revolution is dedicated to finding viable work solutions for mothers and companies by providing a dynamic online marketplace, extensive resources and meaningful networks. 
							blockquote
								p
									| Forty-three percent of women drop out of the workforce at some point in their life, yet they have the skills, experience, and knowledge that can still make them competitive.
								small
									b
										| Sheryl Sandberg,
										cite(title='Source Title') Lean In
		.container
			.row.mt.centered
				.col-lg-6
					h3 For Mothers
					blockquote
						| Opt-In Revolution is the community for highly skilled women to find professional solutions while maintaining personal flexibility.
				.col-lg-6
					h3 For Businesses
					blockquote
						| Opt-In Revolution provides businesses access to top-tier talent while easing the hassle of hiring temporary or part-time employees.
	.tile#employ
		.container
			.row.mt.centered
				.col-lg-6
					.about-img-wrapper
						.about-img
							//- p thing
							img.img-circle.img-responsive(src='/images/employ.jpg', width='350', alt='')
				.col-lg-6
					.about-text
						h1 EMPLOY
						p
							| MOM - Explore a dynamic marketplace to find flexible, project based work
						p
							| BIZ - Explore a dynamic marketplace to find highly qualified talent
	.tile#empower
		.container
			.row.mt.centered
				.col-lg-6
					.about-text
						h1 EMPOWER
						p
							| MOM - Find the necessary resources and tools to enhance your career
						p
							| BIZ - Find the necessary resources and tools to enhance your hiring skills
				.col-lg-6
					.about-img
						//- p thing
						img.img-circle.img-responsive(src='/images/empower.jpg', width='350', alt='')
	.tile#engage
		.container
			.row.mt.centered
				.col-lg-6
					.about-img
						//- p thing
						img.img-circle.img-responsive(src='/images/bike.jpg', width='350', alt='')
				.col-lg-6
					.about-text
						h1 ENGAGE
						p
							| MOM - Connect with other Moms to expand your professional and personal networks
						p
							| BIZ - Connect with fellow employers to expand your professional and personal networks


	.tile#create
			.container
				.row.mt.centered
					.col-lg-12
						.about-text
							h1 
								| Want to see more? 
								br
								br
								| Create a profile and join the Opt In Revolution!

							a.btn.btn-success.btn-lg.opt-create-btn(href='/signup', role='button') Sign Up
