extends layout

block content
	.big-wrapper
		.sidebar-wrapper
			.row.mt
				.profile-wrap
					.col-md-12
						ul.nav.nav-tabs.tabs-left
							li.sidenav.active
								a(href='#user', data-toggle='tab') Users
							li.sidenav
								a(href='#project', data-toggle='tab') Projects
							li.sidenav
								a(href='#jobapplication', data-toggle='tab') Applications
		.page-content-wrapper
			.col-md-12
				.profile-wrap
					.tab-content
						#user.tab-pane.active
							include partials/admin-users.jade
						#project.tab-pane
							include partials/admin-jobs.jade
						#jobapplication.tab-pane
							include partials/admin-jobapps.jade