extends layout

block content
	.container
		h2 Admin Dashboard
		p
			| Used to view and capture submitted emails
		br
		h3 Viewing all Emails
		div.container
			div.content
				table.table.table-striped
					thead
						tr
							th Email
							th Comment
							th Date Submitted
					tbody
					each user, i in userlist
						tr
							td #{user.email}
							td #{user.userType}
							td #{user.dateInserted}