extends layout

block content
	.container
		.opt-about-pillars-detail.tab-pane#empower
			.row.mt
				.col-md-10.col-md-offset-1.centered
					h2
						| Your Road Map Back Into the Workforce
					p
						| Getting back into the workforce takes more than just finding a job listing. Rebuilding networks, polishing resumes, and building a reputation are all key steps to maintaining a freelancing career. The Opt-In Revolution is about empowering you with the skills, tools and connections you need. Below is a list of the best articles, tips, and strategies to help you be the tough and productive mom you are.
				br
			.row.mt
				.col-md-5.col-md-offset-1
					h3.pillar-header
						| Reading Material
				.col-md-5.pillar-content
					p
						| First of all, know that you aren’t alone. Lots of women are returning to work after taking time off to raise their kids, and making successful careers through contract work and consultation. These are some of the articles written about them.
					ul
						li
							a(href='http://www.nytimes.com/2013/08/11/magazine/the-opt-out-generation-wants-back-in.html?_r=1&', target='_blank') The Opt Out Generation Wants Back In
							| - New York Times Magazine, This is the story that inspired our founding and our name.
						li
							a(href='http://faculty.haas.berkeley.edu/wolfram/Papers/OptOut_Draft_July08.pdf', target='_blank') Opt-Out Patterns Across Careers: Labor Force Participation Rates Among Highly Educated mothers
							| - Berkeley University
						li
							a(href='http://www.forbes.com/2010/06/23/100-best-womens-blogs-forbes-woman-time-websites.html', target='_blank') 100 Best Sites/Blogs for Working Mothers
							| - Forbes
					br
			.row.mt
				.col-md-5.col-md-offset-1
					h3.pillar-header
						| Tips and strategies
				.col-md-5.pillar-content
					p
						| It’s important to have a plan. These articles will help you hone your ideas into a strategy for getting your contract work on track.
					ul
						li
							a(href='http://www.forbes.com/sites/susanadams/2012/11/20/7-keys-to-rejoining-the-workforce-after-a-long-break/', target='_blank') 7 Keys to Rejoining the Workforce After Raising Kids
							| - Forbes
						li
							a(href='http://money.usnews.com/money/careers/articles/2008/02/01/how-to-rejoin-the-workforce-after-raising-kids?page=2', target='_blank') How to Rejoin The Workforce After Raising Kids
							|  - U.S. News and World Report
						li
							a(href='http://www.jobsandmoms.com/2010/02/backtoworkresume.html', target='_blank') Writing a Resume for Returning Moms
							| - Jobs and Moms
					br
			.row.mt
				.col-md-5.col-md-offset-1
					h3.pillar-header
						| Groups
				.col-md-5.pillar-content
					p 
						| Don’t try and do it all on your own. Joining a group of fellow freelancing moms can be great for networking, advice and support when you’re getting your career started.
					ul
						li
							a(href='http://foundingmoms.com/', target='_blank') Mom-trepreneurs
							|  - These meetup has 61 groups across the country. Their made up of moms who have embarked on their own careers as freelancers, consultants, and other small businesses.
						li
							a(href='http://www.irelaunch.com/rtwabout', target='_blank') iRelaunch Conferences
							|  - These conferences have women from all over the country coming together to share their stories and advice.
						li
							a(href='http://www.meetup.com/Working-Mom-Chicago/', target='_blank') Working Mom Chicago
							|  - For moms in the Chicago area, this group is focused on women who know the balancing act of work and parenting very well.
					br
			.row.mt
				.col-md-5.col-md-offset-1
					h3.pillar-header
						| Marketing and PR resources
				.col-md-5.pillar-content
					p
						| Staying in touch is half the battle. Knowing the industry trends will give you a key competitive edge when applying for jobs. These are some of the best resources for the marketing and PR moms who want to keep up with the times.
					ul
						li
							a(href='http://www.meetup.com/Working-Mom-Chicago/', target='_blank') Moz
							|  - They started out as an SEO site, but have turned into the go-to source for all things online marketing. Their Mozinars are also great for catching up if you’ve let your know-how slack a bit.
						li
							a(href='http://www.meetup.com/Working-Mom-Chicago/', target='_blank') DuctTapeMarketing
							|  - These guys have a funny name and serious insights. They’re great for motivation and practical advice alike.
						li
							a(href='http://www.toprankblog.com/', target='_blank') Top Rank Blog
							|  - Top Rank Blog – They’ve been around for 10 years and have been giving solid advice the whole time. Definitely a well-respected voice in the online marketing landscape.
					br