extends layout

block content
	.opt-login-wrapper
		.container
			.row.mt.centered
				.col-md-12
					br
					br
					img(src='/images/under_construction.jpg', width='500', alt='')
			.row.mt.centered
				p
					| Page under construction
				br