extends layout

block content
  .landing-page-bg
    .container
      .opt-landing-content
        if errors && errors.length
          .alert.alert-danger.animated.fadeIn.opt-alert
            button.close(data-dismiss='alert') ×
            | Sorry, please check that you have entered a valid email.
        if success && success.length
          .alert.alert-success.animated.fadeInUp.opt-alert
            button.close(data-dismiss='alert') ×
            i.fa.fa-check
            | Thank you! You've been added to our mailing list!
        .row.mt.centered
          .col-md-5.col-md-offset-7
            .row.mt
              .landing-content-wrapper
                br
                br
                br
                h1.opt-title-header.opt-title-push-right
                  b 
                    | AthenaHire
                    br
                h3.opt-title-push-right.custom-h3
                  | We provide a platform for businesses and highly qualified moms to connect on projects.

              .row.mt.centered.opt-call-to-action
                a.btn.btn-success.btn-lg.opt-about-btn(href='/about?view=mom', role='button') Find out more