extends layout

block content
  .landing-page-bg
    .container
      .opt-landing-content
        if errors && errors.length
          .alert.alert-danger.animated.fadeIn.opt-alert
            button.close(data-dismiss='alert') ×
            | Sorry, please check that you have entered a valid email.
        if success && success.length
          .alert.alert-success.animated.fadeInUp.opt-alert
            button.close(data-dismiss='alert') ×
            i.fa.fa-check
            | Thank you! You've been added to our mailing list!
        .row.mt.centered
          .col-md-5.col-md-offset-7
            .row.mt
              br
              br
              br
              h1.opt-title-header
                b 
                  | AthenaHire
                  br
                  //- | Revolution
              p.opt-landing-page-content
                h3
                  | Employ. Empower. Engage.

            .row.mt.centered.opt-call-to-action
              h4.opt-landing-page-content
                | Want to find out more?

              a.btn.btn-success.btn-lg.opt-about-btn(href='/about?view=mom', role='button') I am a mother
              a.btn.btn-success.btn-lg.opt-about-btn(href='/about?view=biz', role='button') I am a business