extends layout

block content
  .landing-page-bg
    .container
      .opt-landing-content
        .row.mt.centered
          .col-md-5.col-md-offset-7
            .row.mt
              h1.opt-title-header
                b 
                  | The Opt-In 
                  br
                  | Revolution
              p.opt-landing-page-content
                h3
                  | Employ. Empower. Engage.

            .row.mt.centered.opt-call-to-action
              h4.opt-landing-page-content
                | Want to find out more?

              a.btn.btn-success.btn-lg.opt-about-btn(href='/about?view=mom', role='button') I am a mother
              a.btn.btn-success.btn-lg.opt-about-btn(href='/about?view=biz', role='button') I am a business
        //- button.btn.btn-success.btn-lg(type='button') MOM
        //- button.btn.btn-success.btn-lg(type='button') BIZ
      //- .form-wrapper
      //-   form.form-inline.input-form(name="addEmail", role="form", method="post",action="/addEmail")
      //-     .form-group
      //-       label.sr-only(for='userEmailInput') Email address
      //-       input#userEmailInput.form-control(type='email', name="emailInput", placeholder='Enter email')
      //-     .form-group
      //-       label.sr-only(for='userTypeInput') User Type
      //-       input#userTypeInput.form-control.input-mysize(type='text', name="userTypeInput", placeholder='Tell us a bit about yourself')
      //-     button.btn.btn-default(type='submit') Submit