extends layout

block content
  .landing-page-bg
    .container
      .opt-landing-content
        .row.mt.centered
          h1.opt-title-header
            b The Opt-In Revolution
          p.opt-landing-page-content
            h3
              //- | We match highly qualified moms with flexible, project based work from businesses looking for great part time talent.
              //- br
              | Employ. Empower. Engage.
          br
          br
          p.opt-landing-page-content
            | Want to join the Opt-In Revolution?

        .form-wrapper
          form.form-inline.input-form(name="addEmail", role="form", method="post",action="/addEmail")
            .form-group
              label.sr-only(for='userEmailInput') Email address
              input#userEmailInput.form-control(type='email', name="emailInput", placeholder='Enter email')
            .form-group
              label.sr-only(for='userTypeInput') User Type
              input#userTypeInput.form-control.input-mysize(type='text', name="userTypeInput", placeholder='Tell us a bit about yourself')
            button.btn.btn-default(type='submit') Submit