extends layout

block content
  .jumbotron
    .value-prop
      img.landing-page-img(src='/images/landingpage.jpg', width='100%')
      h1 Opt In Revolution
      p
        | We match the mom who wants a flexible schedule and fewer hours with the business looking for her skill set.
      p
        | We're Opt In Revolution. Want to know more?

    form.form-inline.input-form(name="addEmail", role="form", method="post",action="/addEmail")
      .form-group
        label.sr-only(for='userEmailInput') Email address
        input#userEmailInput.form-control(type='email', name="emailInput", placeholder='Enter email')
      .form-group
        label.sr-only(for='userTypeInput') Password
        input#userTypeInput.form-control.input-mysize(type='text', name="userTypeInput", placeholder='Tell us a bit about yourself')
      button.btn.btn-default(type='submit') Submit
