extends layout

block content
  .jumbotron
    h1 Opt In Revolution
    p
      | We are an online market place that matches stay-at-home moms with part-time, project based work for small/medium sized business