extends layout

block content
  .landing-page-bg
    .container
      .opt-landing-content
        h1.opt-title-header
          b Opt In Revolution
        p.opt-landing-page-content
          b
            | We match highly qualified moms with flexible, project based work from businesses looking for great part time talent.
        br
        br
        p.opt-landing-page-content
          | We're Opt In Revolution. Want to know more?

      form.form-inline.input-form(name="addEmail", role="form", method="post",action="/addEmail")
        .form-group
          label.sr-only(for='userEmailInput') Email address
          input#userEmailInput.form-control(type='email', name="emailInput", placeholder='Enter email')
        .form-group
          label.sr-only(for='userTypeInput') Password
          input#userTypeInput.form-control.input-mysize(type='text', name="userTypeInput", placeholder='Tell us a bit about yourself')
        button.btn.btn-default(type='submit') Submit