doctype html
html(lang='en')
head
	title= title
	link(href='/stylesheets/bootstrap.css', rel='stylesheet')
	link(href='/stylesheets/style.css', rel='stylesheet')
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(src='/javascripts/bootstrap.js')
	script(src='/javascripts/analytics.js')

body
	.opt-navbar-wrapper
		.navbar.navbar-default.navbar-fixed-top.opt-header(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.opt-nav-text.navbar-brand(href='/') Opt In Revolution
				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						each nav in [{link: '', name: "Home"}, {link: 'about', name: "About Us"}, {link: '#', name: "Contact"}]
							li 
								a.btn.btn-primary.opt-btn(href='/#{nav.link}') #{nav.name}
			.opt-filler-header
	block content

