extends layout

block content
	.container
		.row.mt.centered.opt-team-desc
			h1
				b Our Team
				br
				small
					| The dedicated people behind AthenaHire
		.row.mt.centered
			.col-md-4.opt-team-stuff
				img.img-circle.pagination-centered(src='/images/team/elizabeth.jpg', width='120', alt='')
				h4 Elizabeth Baumann
				p
					|  Elizabeth started her career in the world of finance and has long realized the need for equality in the workforce and viable solutions for working mothers.  She is excited to use her marketing and management skills to lead AthenaHire. Elizabeth resides in the Chicago area where she is completing her MBA at the Kellogg School of Management. 

			.col-md-4
				img.img-circle.pagination-centered(src='/images/team/russell.jpg', width='120', alt='')
				h4 Russell Jones
				p
					| Russell escaped his upbringing in the desert southwest for the arctic winters of Cornell University.  Since graduating, he has advised Fortune 500 companies, with a two-year stint building and launching a financial services startup. Russell comes to AthenaHire as a Kellogg MBA student excited for the opportunity of finding awesome talent that can help small businesses grow.
			.col-md-4
				img.img-circle.pagination-centered(src='/images/team/allen.jpg', width='120', alt='')
				h4 Allen Zeng
				p
					| Allen hails from New York City and a senior at Northwestern majoring in Computer Science. He is a student fellow at Northwestern's Knight Lab where journalists and developers produce innovative and explorative news media. Allen’s interests in entrepreneurship and technology utilization brought him to AthenaHire, where he is building a groundbreaking marketplace.
		br
		br
		.row.mt.centered
			.col-md-4
				img.img-circle.pagination-centered(src='/images/team/alexis.jpg', width='120', alt='')
				h4 Alexis Prousis
				p
					|  Alexis is a Midwesterner at heart—born and raised in Chicago. After playing professional tennis upon graduating from Northwestern, she worked in commercial real estate focusing on the retail sector. Alexis comes to AthenaHire as a Medill MSJ student, passionate about giving highly qualified moms the chance to use their talents—both at home and in the workplace.
			.col-md-4
				img.img-circle.pagination-centered(src='/images/team/scott.jpg', width='120', alt='')
				h4 Scott Thomas
				p
					|  Scott is a Medill MSJ student, ready to bring his design and content skills to AthenaHire’s team. Born and raised in Texas, Scott attended Texas State University where he was editor in Chief of the campus paper. After graduating, he covered business and startups for AustinPost.org and worked in data analytics for WCG.
			.col-md-4
				img.img-circle.pagination-centered(src='/images/team/basil.jpg', width='120', alt='')
				h4 Basil Huang
				p
					|  Basil Huang is a Chicago native and a senior at Northwestern majoring in Computer Science. He has worked at McKesson and Boeing. He is involved in the Northwestern chapter of IEEE, which host events that promote the technology community and help develop career skills. Basil is excited about bringing his design and computer skills to AthenaHire.
		br
		br
