extends layout

block content
	.container
		.row.mt.centered
			h1.opt-team-header
				b Our Team
		.row.mt.centered
			.col-lg-4.opt-team-stuff
				img.img-circle.pagination-centered(src='/images/elizabeth.jpg', width='120', alt='')
				h4 Elizabeth Baumann
				p
					|  East coast born and west coast bound, Elizabeth currently resides in the Chicagoland area where she is completing her MBA at the Kellogg School of Management. Having started her career in the male dominated world of finance, she has long recognized the need for equality in the workforce and viable solutions for working mothers. Elizabeth enjoys swimming, traveling and reading and serves as a board member for Benevolent, a Chicago based non-profit organization focused on charitable giving.

			.col-lg-4
				h4 Russell Jones
				p
					| Russell, an Arizona native, is an MBA candidate at Northwestern's Kellogg School of Management, concentrating in Finance and Innovation & Entrepreneurship. He attended Cornell University for undergrad majoring in Government. After graduation he worked for consulting and finance firms Dean & Company, Nodal Exchange and Oliver Wyman. Russell is involved in the Northwestern community, sitting on the board of the Kellogg Charity Auction Ball planning committee.
			.col-lg-4
				h4 Allen Zeng
				p
					| Allen hails from New York and is a senior at Northwestern majoring in Computer Science. Last summer he interned at PricewaterhouseCoopers and has already accepted a job with Amazon upon graduation. Allen is a student fellow at Northwestern's Knight Lab where journalists and developers work together to produce innovative and explorative news media.
		br
		br
		.row.mt.centered
			.col-lg-6
				h4 Alexis Prousis
				p
					|  Alexis, a Lake Forest, IL native, is a Masters candidate at Northwestern's Medill School of Journalism concentrating in Business Reporting and Magazine. She attended Northwestern for undergrad where she majored in Communication Studies and was a member of the Women's Varsity Tennis Team. After graduating, Alexis played professional tennis and later worked in commercial real estate. She is an executive board member of the N Club, Northwestern's national alumni club for varsity letter winners.
			.col-lg-6
				h4 Scott Thomas
				p
					|  Scott is getting his Master's degree in Journalism at Medill. He went to undergrad at Texas State University where he majored in journalism and was editor in Chief of the campus paper. After graduating, he covered business and startups for AustinPost.org and worked in data analytics for WCG.
