@import "lib/bootstrap/bootstrap";

// Scaffolding
// -------------------------
html, body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: Ubuntu, sans-serif;
  font-size: 15px;
  height:100%;
  width:100%;
}

a {
  color: #00B7FF;
}

.centered {
  text-align: center;
}

/*
  Header Styles
*/

.opt-navbar-wrapper {
  margin-top:70px;
}

.opt-header {
  background-color: #541E74;
  border-style:solid;
  border-bottom-color:#00FFFF;
  border-bottom-width:10px;
}

.opt-logo {
    height:30px;
}

.navbar-default
.navbar-nav li a {
  color:white;
}
.navbar-default
.navbar-brand {
color: white;
}

.opt-logo-text {
  padding-top:5px;
}

.navbar-default 
.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: white;
background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: white;
background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
background-color: transparent;
color: white;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
border-top-color: white;
border-bottom-color: white;
}

.cust-navbar {
  padding-top: 5px;
  font-size: 15px;
}

.navbar-nav>li>.dropdown-menu { 
  background-color: #541E74;
}
ul.nav.navbar-nav.navbar-right.actions {
  background-color: red;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  // background-color: transparent;
  }

/****************************************************************
  Landing Page Styles
*****************************************************************/

.landing-page-bg {
  display:block;
  position:absolute;
  z-index:1;
    min-width:100%;
    min-height:100%;
    background:transparent url('../images/landingpage.jpg') center center no-repeat;
    background-size:cover;
}

.landing-page-bg .opt-landing-content {
  display:block;
  position:relative;
  color:white;
  margin-top:200px;
  text-align:center;
  text-shadow:1px 1px #000000;
}

.form-wrapper {

}

.opt-title-header {
  font-size: 40pt;
}

.opt-call-to-action {
  margin-top: 60px;
}

.opt-about-btn {
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  width: 200px;
}

/****************************************************************
  About Us Page Styles
*****************************************************************/

.opt-about-header {
  margin-top: 50px;
}

.tile {
  min-height: 100%;
    /*height: 100%;*/
    color: white;
}

.about-text {
  padding-top:120px;
}

.about-img {
  padding-top:120px;
  padding-left:100px;
  /*text-align: center;*/
}

.opt-about-image {
  margin: 0 auto;
}

#top {
    background: #21707F;
    /*background:transparent url('../images/landingpage.jpg') center center no-repeat;*/
  /*background-size:cover;*/
}

#employ {
  background-color: #43E0FF;
    /*background:transparent url('../images/landingpage3.jpg') center center no-repeat;*/
    /*background-size:cover;*/
}

#empower {
  background-color: #113840;
    /*background:transparent url('../images/landingpage3.jpg') center center no-repeat;*/
    /*background-size:cover;*/
}

#engage {
  background-color: #3CC9E5;
    /*background:transparent url('../images/landingpage3.jpg') center center no-repeat;*/
    /*background-size:cover;*/
}

#create {
  background-color: #113840;
    /*background:transparent url('../images/landingpage3.jpg') center center no-repeat;*/
    /*background-size:cover;*/
}

.opt-create-btn {
  margin-top:20px;
  padding-top: 35px;
  height: 100px;
  width: 200px;
}

/****************************************************************
  Team Page Styles
*****************************************************************/

.opt-team-desc {
  margin-bottom: 50px;
}

/****************************************************************
  Login Page Styles
*****************************************************************/

.input-mysize{
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
}

.input-form {
  width:600px;
  margin: 0 auto;
}