body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
  padding-top: 70px;
}

a {
  color: #00B7FF;
}

.opt-header {
	/*background-color: #563d7c;*/
}

.landing-page-img {
	width:100%;
	height:500px;
}
.value-prop{
	text-align: center;
}

.about-us {
	/*text-align: center;	*/
}

.about-us-img {
	width:100%;
	height:500px;
}

.input-mysize{
	width: 250px;
}

.input-form {
	width:500px;
	margin: 0 auto;
}