body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
}

a {
  color: #00B7FF;
}

/*
	Header Styles
*/

.opt-navbar-wrapper {
  padding-top: 50px;
}

.opt-header {
	background-color: #541E74;
}

.opt-filler-header {
	background-color: #00FFFF;
	height:10px;
	position: relative;
}

li a .opt-nav-text {
	color:white;
}

.navbar-default
.navbar-nav li a {
	color:white;
}
.navbar-default
.navbar-brand {
color: white;
}

.navbar-default 
.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: white;
background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: white;
background-color: transparent;
}



/*
	Landing Page Styles
*/

.landing-page-bg {
	display:block;
	position:absolute;
	z-index:1;
    min-width:100%;
    min-height:100%;
    background:transparent url('../images/landingpage.jpg') center center no-repeat;
    background-size:cover;
}

.landing-page-bg .opt-landing-content {
	display:block;
	position:relative;
	z-index:2;
	color:white;
	margin-top:200px;
	text-align:center;
	text-shadow:1px 1px #000000;
}

.value-prop{
	text-align: center;
}

.opt-title-header {
	font-size: 40pt;
}

.opt-landing-page-content {
	font-size: 12pt;
}

/*
	About Us Page Styles
*/

.about-us {
	/*text-align: center;	*/
}


.opt-about-header {
	text-align: center;
	margin-top: 50px;
}


/*
	Team Page Styles
*/

.opt-team-header { 
	border-bottom: 2px solid #eee;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 50px;
}

/*
	Login Form Page Styles
*/

.input-mysize{
	width: 250px;
}

.input-form {
	width:500px;
	margin: 0 auto;
}