body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
}

a {
  color: #00B7FF;
}

/*
	Header Styles
*/

.opt-navbar-wrapper {
  padding-top: 50px;
}

.opt-header {
	background-color: #0588A8;
}

.opt-filler-header {
	background-color: #00FFFF;
	height:10px;
	position: relative;
}

li a .opt-nav-text {
	color:white;
}

.opt-btn {
	margin-top: 3px;
}


/*
	Landing Page Styles
*/

.landing-page-bg {
	display:block;
	position:absolute;
	z-index:1;
    min-width:100%;
    min-height:100%;
    background:transparent url('../images/landingpage2.jpg') center center no-repeat;
    background-size:cover;
}

.landing-page-bg .opt-landing-content {
	display:block;
	position:relative;
	z-index:2;
	color:white;
	margin-top:250px;
	text-align:center;
}

.landing-page-img {
	width:100%;
	height:550px;
}
.value-prop{
	text-align: center;
}

.opt-title-header {
	font-size: 40pt;
}

.opt-landing-page-content {
	font-size: 12pt;
}

/*
	About Us Page Styles
*/

.about-us {
	/*text-align: center;	*/
}

.about-us-img {
	width:100%;
	height:500px;
}

/*
	Login Form Page Styles
*/


.input-mysize{
	width: 250px;
}

.input-form {
	width:500px;
	margin: 0 auto;
}