.col-md-12
	.page-header
		.prof-label-header
			.row.mt
				.col-md-6
					.fg-h2-special
						h2 My Applications
				.col-md-6
	.opt-login-wrapper
		.table-responsive
			table.table.table-hover
				thead
					tr
						th.proj-title Project Title
						th Last Updated
						th Status
						th  
				tbody.job-table
					if (jobApps.length == 0)
						td You haven't started any project applications yet!
					else
						each jobApp, i in jobApps
							tr
								td.proj-title #{jobApp.job.jobName}
								td #{jobApp.lastModified}
								td 
									if jobApp.submitted == "yes"
										| Submitted
									else if jobApp.submitted == "no"
										| In Progress
									else if jobApp.submitted == "saved"
										| Saved
								td 
									a.btn.btn-success.btn-md.job-btn(href='/job/apply-#{jobApp.jobID}', role='button') View