.col-md-12
	.page-header
		.prof-label-header
			.row.mt
				.col-md-6
					.fg-h2-special
						h2 My Messages
				.col-md-6
	-var counter = 0;
	-var jobChats = [];
	each jobApp in joblist
		if jobApp.chatRequested
			-jobChats.push(jobApp);
			-counter +=1;
	.opt-login-wrapper
		.table-responsive
			table.table.table-hover
				thead
					tr
						th.proj-title Project Title
						th Company Name
				tbody.job-table
					if (jobChats.length == 0)
						td You have no messages.
					else
						each jobApp, i in jobChats
							tr
								td.proj-title
									a(href='#chat', data-toggle='tab') Chat for #{jobApp.job.jobName}
								td #{jobApp.job.companyName}
								#chat.tab-pane
									include profile-chat.jade	