script(type='text/javascript').
	function s3_upload(){
		var s3upload = new S3Upload({
			file_dom_selector: '#profPicture',
			s3_sign_put_url: '/sign_s3',
			onProgress: function(percent, message) {
				$('#status').html('Upload progress: ' + percent + '% ' + message);
			},
			onFinishS3Put: function(public_url) {
				$('#status').html('Upload completed.');
				$("#avatar_url").val(public_url);
				//- $("#preview").html('<img src="'+public_url+'" style="width:300px;" />');
			},
			onError: function(status) {
				$('#status').html('Upload error: ' + status);
			}
		});
	}
	$(document).ready(function() {
		$('#profPicture').on("change", s3_upload);
	});

.col-md-12
	form.form-horizontal(action='/account/profile', method='POST', enctype="multipart/form-data")
		.page-header
			.prof-label-header
				.row.mt
					.col-md-6
						.fg-h2-special
							h2 Company Profile
					.col-md-6
						.form-group.fg-special
							.row.mt
								.col-md-6
								.col-md-6
									button.btn.btn.btn-primary.opt-btn-prof(type='submit') Update Profile
		.row.mt
			.col-md-11
				.prof-bottom-wrapper
					.row.mt
						.col-md-12
							.form-group
								.row.mt
									.col-md-12
										label.control-label(for='companyName') Company Name
								.row.mt
									.col-md-12
										if typeof(user.company.companyName)=='undefined'
											input.form-control(type='companyName', name='companyName', id='companyName', value='')
										else
											input.form-control(type='companyName', name='companyName', id='companyName', value='#{user.company.companyName}')
					.row.mt
						.col-md-12
							.form-group
								.row.mt
									.col-md-12
										label.control-label(for='email') Email
								.row.mt
									.col-md-12
										input.form-control(type='email', name='email', id='email', value='#{user.email}')
					.row.mt
						.col-md-12
							.form-group
								.row.mt
									.col-md-12
										label.control-label(for='companyDescription') Company Description
								.row.mt
									.col-md-12
										if typeof(user.company.companyDescription)=='undefined'
											textarea.form-control(type='companyDescription', name='companyDescription', id='companyDescription')
										else
											textarea.form-control(type='companyDescription', name='companyDescription', id='companyDescription')
												| #{user.company.companyDescription}
					br
					br
					br
					br