extends ../layout

block content
	.container
		p
			| Apply to this job!

		tr
			th Company
			th Job Title
			th Job Description
			th Date Submitted
			th Apply
		tbody
			tr
				td #{job.companyName}
				td #{job.jobName}
				td #{job.jobDescription}
				td #{job.dateCreated}