extends ../layout

block content
	.container
		//- h2.centered Post a job
		.post-job-wrapper
			.job-card
				form.form-horizontal(name="JobPost", role="form", method="post",action="postJob")
					.row.mt.job-card-other
						.col-md-12
							h2.centered Post a job
					.row.mt.job-card-other
						.col-md-12
							.row.mt.job-card-other
								.form-group
									label.col-md-2.control-label(for='jobName') Job Name
									.col-md-10
										input#jobName.form-control(type='text', name='jobName')
					.row.mt.job-card-other
						.col-md-12
							.form-group
								label.col-md-2.control-label(for='description') Description
								.col-md-10
									input#description.form-control(type='text', name="description")
					.row.mt.job-card-other
						.col-md-6
							.row.mt.job-card-other
								.form-group
									label.col-md-4.control-label(for='industry') Industry
									.col-md-8
										input#industry.form-control(type='text', name="industry")
							.row.mt.job-card-other
								.form-group
									label.col-md-4.control-label(for='jobFunction') Job Function
									.col-md-8
										input#jobFunction.form-control(type='text', name="jobFunction")
							.row.mt.job-card-other
								.form-group
									label.col-md-4.control-label(for='skillsNeeded') Skills Needed
									.col-md-8
										input#skillsNeeded.form-control(type='text', name="skillsNeeded")
							.row.mt.job-card-other
								.form-group
									label.col-md-4.control-label(for='pay') Pay
									.col-md-8
										input#pay.form-control(type='text', name="pay")
						.col-md-6
							.row.mt.job-card-other
								.form-group
									label.col-md-4.control-label(for='duration') Duration
									.col-md-8
										input#duration.form-control(type='text', name="duration")
							.row.mt.job-card-other
								.form-group
									label.col-md-4.control-label(for='hoursPerWeek') Hours Per Week
									.col-md-8
										input#hoursPerWeek.form-control(type='text', name="hoursPerWeek")
							.row.mt.job-card-other
								.form-group
									label.col-md-4.control-label(for='telephoneOnly') Telephone Only
									.col-md-8
										input#telephoneOnly.form-control(type='text', name="telephoneOnly")
					.row.mt.job-card-buttons
						.col-md-12.col-md-offset-10
							button.btn.btn-default(type='submit') Submit
